<form class="ui segment form" action="/dashboard/addStation" method="POST">
    <div class="three fields">
        <div class="field">
            <label>Name</label>
            <input placeholder="Station Title" type="text" name="stationName">
        </div>
        <div class="field">
            <label>Latitude</label>
            <input placeholder="0.0" type="number" step=".01" placeholder="latitude" name="latitude">
        </div>
        <div class="field">
            <label>Longitude</label>
            <input placeholder="0.0" type="number" step=".01" placeholder="longitude" name="longitude">
        </div>
    </div>
    <button class="ui blue submit button">Add Station</button>
</form>