#{extends 'main.html'/}
#{set title: 'Dashboard' /}

#{menu id: "admin"/}

<section>
    <!--  Stations  -->
    <h2 class="ui header top-small-padding">
        Stations:
    </h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Weather</th>
                <th>Temperature (°C)</th>
                <th>Wind Speed (Kmph)</th>
                <th>Pressure (hpa)</th>
            </tr>
        </thead>
        <tbody>
            #{list items:stations, as:'station'}
                <tr>
                    <td>
                        ${station.id}
                    </td>
                    <td>
                        ${station.stationName}
                    </td>
                    <td>
                        ${station.latitude}
                    </td>
                    <td>
                        ${station.longitude}
                    </td>
                    <td>
                        #{if (station.readings.code[-1] == 100) }
                            Clear
                        #{/if}
                        #{elseif (station.readings.code[-1] == 200)}
                            Partial Clouds
                        #{/elseif}
                        #{elseif (station.readings.code[-1] == 300)}
                            Cloudy
                        #{/elseif}
                        #{elseif (station.readings.code[-1] == 400)}
                            Light Showers
                        #{/elseif}
                        #{elseif (station.readings.code[-1] == 500)}
                            Heavy Showers
                        #{/elseif}
                        #{elseif (station.readings.code[-1] == 600)}
                            Rain
                        #{/elseif}
                        #{elseif (station.readings.code[-1] == 700)}
                            Snow
                        #{/elseif}
                        #{elseif (station.readings.code[-1] == 800)}
                            Thunder
                        #{/elseif}
                        #{else}
                            ${station.readings.code[-1]}
                        #{/else}
                    </td>
                    <td>
                        ${station.readings.temperature[-1]}
                    </td>
                    <td>
                        ${station.readings.windSpeed[-1]}
                    </td>
                    <td>
                        ${station.readings.pressure[-1]}
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>

    <!-- Readings -->
    <h2 class="ui header top-small-padding">
        Readings:
    </h2>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Temperature</th>
            <th>Wind Speed</th>
            <th>Pressure</th>
        </tr>
        </thead>
        <tbody>
        #{list items:readings, as:'reading'}
        <tr>
            <td>
                ${reading.id}
            </td>
            <td>
                ${reading.code}
            </td>
            <td>
                ${reading.temperature}
            </td>
            <td>
                ${reading.windSpeed}
            </td>
            <td>
                ${reading.pressure}
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>

    <!--  Members  -->
    <h2 class="ui header top-small-padding">
        Members:
    </h2>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        #{list items:members, as:'member'}
        <tr>
            <td>
                ${member.id}
            </td>
            <td>
                ${member.firstname}
            </td>
            <td>
                ${member.lastname}
            </td>
            <td>
                ${member.email}
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</section>