#{extends 'main.html'/}
#{set title: 'Dashboard' /}

#{menu id: "admin"/}

<section>
    <h2 class="ui header">
        All known Readings in the Database:
    </h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Temperature</th>
                <th>Wind Speed</th>
                <th>Pressure</th>
            </tr>
        </thead>
        <tbody>
            #{list items:readings, as:'reading'}
                <tr>
                    <td>
                        ${reading.id}
                    </td>
                    <td>
                        ${reading.code}
                    </td>
                    <td>
                        ${reading.temperature}
                    </td>
                    <td>
                        ${reading.windSpeed}
                    </td>
                    <td>
                        ${reading.pressure}
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
</section>