#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

  <!--  User first name & last name  -->
  <header class="ui header">
    ${member.firstname} ${member.lastname}'s Stations
  </header>

  <section class="ui segment">

    <!--  List of stations  -->
    #{list items:stations, as:'station'}
    <div class="ui stacked segment">
      <h2 class="ui header">
        ${station.stationName}
      </h2>
      <!--  explore station  -->
      <a href="/stations/${station.id}" class="ui icon button">
        <i class="icon folder open"></i>
      </a>
      <!--  delete station  -->
      <a href="/dashboard/${member.id}/deleteStation/${station.id}" class="ui icon button">
        <i class="icon trash"></i>
      </a>
    </div>
    #{/list}

    <!-- Add a station form -->
    <form class="ui segment form" action="/dashboard/addStation" method="POST">
      <div class="three fields">
        <div class="field">
          <label>Name</label>
          <input placeholder="Station Title" type="text" name="stationName">
        </div>
        <div class="field">
          <label>Latitude</label>
          <input placeholder="0.0" type="number" step=".01" placeholder="latitude" name="latitude">
        </div>
        <div class="field">
          <label>Longitude</label>
          <input placeholder="0.0" type="number" step=".01" placeholder="longitude" name="longitude">
        </div>
      </div>
      <button class="ui blue submit button">Add Station</button>
    </form>

  </section>
