#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

  <!--  User first name & last name  -->
  <header class="ui header">
      <h2>${member.firstname} ${member.lastname}'s Stations</h2>
  </header>

  <section>
    <!--  List of stations  -->
    #{list items:stations, as:'station'}
    <div class="ui stacked segment">
      <h2 class="ui header">
        ${station.stationName}
      </h2>

      <!--  Trends and Latest Data  -->
      <div class="ui stackable five column grid">

        <div id="station" class="column">
          <div class="ui fluid inverted card">
            <div class="middle aligned content station-card-height">
              <h3 class="ui header top-medium-padding">
                ${station.stationName}
                <i class="marker icon"></i>
              </h3>
              <p class="description">
                Lat: ${station.latitude}
                <br>
                Lng: ${station.longitude}
              </p>
            </div>
          </div>
        </div>

        <div id="weather" class="column">
          <div class="ui fluid inverted card">
            <div class="middle aligned content station-card-height">
              <h3 class="ui header top-medium-padding">
                Weather
                <i class="cloud rain icon"></i>
              </h3>
              <p class="description">
                ${station.latestWeather}
              </p>
            </div>
          </div>
        </div>

        <div id="temperature" class="column">
          <div class="ui fluid inverted card">
            <div class="middle aligned content station-card-height">
              <h3 class="ui header top-medium-padding">
                Temp
                <i class="temperature low icon"></i>
              </h3>
              <p class="description">
                ${station.temperature} °C
                <br>
                ${station.fahrenheitTemp} F
                <br>
                Max: ${station.maxTemperature}
                <br>
                Min: ${station.minTemperature}
              </p>
              <!--  Temperature Trends  -->
              #{if (station.tempTrend)}
              <i class="right floated arrow up icon"></i>
              #{/if}
              #{elseif (station.tempTrend == false)}
              <i class="right floated arrow down icon"></i>
              #{/elseif}
              #{else}
              #{/else}
            </div>
          </div>
        </div>

        <div id="wind" class="column">
          <div class="ui fluid inverted card">
            <div class="middle aligned content station-card-height">
              <h3 class="ui header top-medium-padding">
                Wind
                <i class="wind icon"></i>
              </h3>
              <p class="description">
                ${station.wind} bft
                <br>
                ${station.windCompass}
                <br>
                Feels like ${station.windChill}
                <br>
                Max: ${station.maxWindSpeed}
                <br>
                Min: ${station.minWindSpeed}
              </p>
              <!--  Wind Trends  -->
              #{if (station.windTrend)}
              <i class="right floated arrow up icon"></i>
              #{/if}
              #{elseif (station.windTrend == false)}
              <i class="right floated arrow down icon"></i>
              #{/elseif}
              #{else}
              #{/else}
            </div>
          </div>
        </div>

        <div id="pressure" class="column">
          <div class="ui fluid inverted card">
            <div class="middle aligned content station-card-height">
              <h3 class="ui header top-medium-padding">
                Pressure
                <i class="cloud sun icon"></i>
              </h3>
              <p class="description">
                ${station.pressure} hpa
                <br>
                Max: ${station.maxPressure}
                <br>
                Min: ${station.minPressure}
              </p>
              <!--  Pressure Trends  -->
              #{if (station.pressureTrend)}
              <i class="right floated arrow up icon"></i>
              #{/if}
              #{elseif (station.pressureTrend == false)}
              <i class="right floated arrow down icon"></i>
              #{/elseif}
              #{else}
              #{/else}
            </div>
          </div>
        </div>

      </div>

      <!--  explore station  -->
      <a href="/stations/${station.id}" class="ui icon button">
        <i class="icon folder open"></i>
      </a>
      <!--  delete station  -->
      <a href="/dashboard/deleteStation/${station.id}" class="ui icon button">
        <i class="icon trash"></i>
      </a>
    </div>
  #{/list}

    <!-- Add a station form -->
    #{addstation/}
  </section>
