#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<section class="ui segment">
    <h2 class="ui header">
        ${station.stationName}
    </h2>
    <table>
        <tbody>
            <div class="ui five column grid">

                <div class="column">
                    <div class="ui fluid inverted card">
                        <div class="middle aligned content station-card-height">
                          <h3 class="ui header top-medium-padding">
                            ${station.stationName}
                              <i class="marker icon"></i>
                          </h3>
                          <p class="description">
                            Lat: ${station.latitude}
                            <br>
                            Lng: ${station.longitude}
                          </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="ui fluid inverted card">
                        <div class="middle aligned content station-card-height">
                          <h3 class="ui header top-medium-padding">
                            Weather
                              <i class="cloud rain icon"></i>
                          </h3>
                          <p class="description">
                            ${station.latestWeather}
                          </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="ui fluid inverted card">
                        <div class="middle aligned content station-card-height">
                          <h3 class="ui header top-medium-padding">
                            Temp
                              <i class="temperature low icon"></i>
                          </h3>
                            <p class="description">
                                ${station.readings.temperature[-1]} C
                            </p>
                            <p class="description">
                                ${stationFahrenheitValue} F
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="ui fluid inverted card">
                        <div class="middle aligned content station-card-height">
                          <h3 class="ui header top-medium-padding">
                            Wind
                              <i class="wind icon"></i>
                          </h3>
                          <p class="description">
                            ${stationBeaufortValue} bft
                          </p>
                          <p class="description">
                            ${station.windCompass}
                              <br>Feels like ${station.windChill}
                          </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="ui fluid inverted card">
                        <div class="middle aligned content station-card-height">
                          <h3 class="ui header top-medium-padding">
                            Pressure
                              <i class="cloud sun icon"></i>
                          </h3>
                          <p class="description">
                            ${station.pressure} hpa
                          </p>
                        </div>
                    </div>
                </div>

            </div>

            #{list items:stations, as:'station'}
            <tr>
                <td>
                    ${station.weather}
                </td>
                <td>
                    ${station.temperature}
                </td>
                <td>
                    ${station.temperature}
                </td>
                <td>
                    ${station.wind}
                </td>
                <td>
                    ${station.pressure}
                </td>
            </tr>
            #{/list}

            <!-- Displays readings for each station -->
            #{listreadings station:station/}

            <!-- Add reading form -->
            #{addreading station:station/}
        </tbody>
    </table>
</section>