#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<section class="ui segment">
    <h2 class="ui header">
        ${station.stationName}
    </h2>
    <table>
        <tbody>
            <div class="ui five column grid">

                <div class="column">
                    <div class="ui fluid inverted card">
                        <div class="middle aligned content" style="max-height: 11rem; min-height:11rem;">
                          <h3 class="ui header" style="padding-top: 2.5rem";>
                            ${station.stationName}
                          </h3>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="ui fluid inverted card">
                        <div class="middle aligned content" style="max-height: 11rem; min-height:11rem;">
                          <h3 class="ui header" style="padding-top: 2.5rem";>
                            Weather
                          </h3>
                          <p class="description">
                            ${station.latestWeather}
                          </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="ui fluid inverted card">
                        <div class="middle aligned content" style="max-height: 11rem; min-height:11rem;">
                          <h3 class="ui header" style="padding-top: 2.5rem";>
                            Temperature
                          </h3>
                            <p class="description">
                                ${station.readings.temperature[-1]} C
                            </p>
                            <p class="description">
                                ${stationFahrenheitValue} F
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="ui fluid inverted card">
                        <div class="middle aligned content" style="max-height: 11rem; min-height:11rem;">
                          <h3 class="ui header" style="padding-top: 2.5rem";>
                            Wind
                          </h3>
                          <p class="description">
                            ${stationBeaufortValue} bft
                          </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="ui fluid inverted card">
                        <div class="middle aligned content" style="max-height: 11rem; min-height:11rem;">
                          <h3 class="ui header" style="padding-top: 2.5rem";>
                            Pressure
                          </h3>
                          <p class="description">
                            ${station.readings.pressure[-1]} hpa
                          </p>
                        </div>
                    </div>
                </div>

            </div>

            #{list items:stations, as:'station'}
            <tr>
                <td>
                    ${station.weather}
                </td>
                <td>
                    ${station.temperature}
                </td>
                <td>
                    ${station.temperature}
                </td>
                <td>
                    ${station.wind}
                </td>
                <td>
                    ${station.pressure}
                </td>
            </tr>
            #{/list}

            <!-- Displays readings for each station -->
            #{listreadings station:station/}

            <!-- Add reading form -->
            #{addreading station:station/}
        </tbody>
    </table>
</section>